<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="/static/sigil.webp" type="image/x-icon">
</head>

<body>
    <form action="/search" method="POST">
        <input type="text" name="item" placeholder="Search item" required />
        <button type="submit">Search</button>
    </form>
    <p>{{name}}</p>

    <footer>
        <p>{{annee}}</p>
    </footer>
</body>

</html>