<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/static/sigil.webp" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    
    <a href="/"><button>accueil</button></a>

    <form action="/search" method="POST">
        <input type="text" name="item" placeholder="Search item" required />
        <button type="submit">Search</button>
    </form>
    <p>{{name}}</p>
    <div class="cards-grid">

    {% for item in ls%}
    <div class="card-container">
        <div  class="hero-image-container">
            <img class="hero-image" src="{{ url_for('static', filename=item['image']) }}">
                
        </div>

        <main class="main-content">
            <h1>{{item['place']}}</h1>
            <h1>{{item['rarity']}}</h1>
            <br>
            <h4>{{item['item']}}</h4>

            <div class="progress">
                <span>Chance: {{item['chance']}}%</span>
                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{ item['chance'] }}%"></div>
                </div>
            </div>

            <div class="flex-row">
                <div class="coin-base">
                    <!-- <img src="https://i.postimg.cc/T1F1K0bW/Ethereum.png" alt="Ethereum" class="small-image" /> -->
                    <a href="https://warframe.fandom.com/wiki/{{ item['item'] }}" target="_blank"><h2>Voir sur le Wiki</h2></a>
                    <!-- <h2>0.041 ETH</h2> -->
                </div>
                <!-- <div class="time-left">
                    <img src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png" alt="clock"
                        class="small-image" />
                    <p>3 days left</p>
                </div> -->
            </div>
        </main>

        <!-- <div class="card-attribute">
            <p>
                <a href="https://warframe.fandom.com/wiki/{{ item['item'] }}" target="_blank">Voir sur le Wiki</a>
            </p>
        </div> -->
    </div>
    {% endfor %}
    </div>
    <footer>
        <p>{{annee}}</p>
    </footer>
</body>

</html>