<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/static/sigil.webp" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    
    <nav class="compact">
        <a href="/"><img src="/static/sigil.webp" alt=""></a>

        <form action="/search" method="POST">
            <input type="text" name="item" placeholder="Search item" required />
            <button type="submit" class="fa fa-search"></button>
        </form>
    </nav>
    <div class="cards-grid">

    {% for item in ls%}
    <div class="card-container">
        <div  class="hero-image-container">
            <img class="hero-image" src="{{ url_for('static', filename=item['image']) }}">
                
        </div>

        <main class="main-content">
            <h1>{{item['place']}}</h1>
            <h1>{{item['rarity']}}</h1>
            <br>
            <h4>{{item['item']}}</h4>

            <div class="progress">
                <span>Chance: {{item['chance']}}%</span>
                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{ item['chance'] }}%"></div>
                </div>
            </div>


        </main>
    </div>
    {% endfor %}
    </div>
    <footer>
        <div class="footer-content">
            <p> {{annee}} LootScope — Made by Axel Archambeault</p>
            <div class="footer-links">
                <a href="https://axelahtmtg03.github.com" class="fa fa-github fa-2x"></a>

            </div>
        </div>
    </footer>
</body>

</html>